body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #9ebed0; 
}

h1 {
    color: #586c82; 
    text-align: center;
}

input[type="file"],
input[type="button"] {
    padding: 10px 20px;
    font-size: 16px;
    background-color: #134a85; 
    color: #fff;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s ease;
    margin: 10px;
}
